{{!-- dropdown --}}
<div class="select-list">
  <form action=""
    method="">
    <select class="form-select"
      aria-label="Default select example">
      <option selected>類別</option>
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="其他">其他</option>
    </select>
  </form>
</div>
{{!-- total amount --}}
<div class="d-flex justify-content-between mt-3">
  <p class="mb-0">總金額:</p>
  <p class="fs-1 mt-1 fw-bold"
    style="color:#fd7e14">100000</p>
</div>
{{!-- records --}}
<div class="data-penal">
  <ul class="list-group">
    <div class="d-flex">
      <li class="list-group-item "
        style="width:100%">
        <div class="row align-items-center">
          <div class="col-auto">
            <i class="fa-solid fa-house"></i>
          </div>
          <div class="col-auto me-auto">
            <h4 class="mb-0">
              午餐
            </h4>
            <p class="mb-0">date</p>
          </div>
          <div class="col-auto ">
            <h5>300</h5>
          </div>
        </div>
      </li>
      <div class="btn-group d-flex"
        style="height: 40px; width: 0; margin-top: 15px;">
        <a href="./records/edit"
          style="margin-left: 20px; white-space: nowrap;">
          <button class="btn btn-outline-dark me-3">
            修改
          </button></a>
        <form action="./records/:id?_method=DELETE"
          method="POST"
          style=" white-space: nowrap;">
          <button class="btn btn-outline-dark"
            type="submit">刪除</button>
        </form>
      </div>
    </div>
  </ul>
</div>
<div class="d-flex justify-content-center">
  <a class="btn btn-warning mt-3 "
    href="./records/new">新增支出</a>
</div>